@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500,700';

body {
    background: #f4f8fb;
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #1c1c1c;
}

a:focus {
    outline: none;
}

.orange-bg, .dailyposrevenuefiscalyoy {
    background: #fd9912;
}

.green-bg, .monthendslotmarketinganalysis {
    background: #5bb25f;
}

.cinnabar-bg, .patroncardedrevenuetrends {
    background: #e8413e;
}

.mandy-bg, .toptwentywinnersandlosers, .newmemberbyadtoradareport {
    background: #e14965;
}

.mariner-bg, .dailyrevenuereport {
    background: #2276d6;
}

.flamingo-bg, .newacquisitionbyhostbymonth {
    background: #f36c31;
}

.purple-bg, .patronlisting {
    background: #9043e6;
}

.violet-bg, .hostedplayeractivity {
    background: #d91ee5;
}

.sushi-bg, .tableswithplaybyday {
    background: #799f37;
}
/** header css start **/
.top-head {
    border-top: 3px solid #03a9f4;
    overflow: hidden;
    background: #fff;
    position: fixed;
    top: 0px;
    z-index: 99999;
    width: 100%;
    border-bottom: 1px solid #e9e9e9;
}

    .top-head .nav-hamburger {
        width: 70px;
        float: left;
        text-align: center;
        border-right: 1px solid #e9e9e9;
        padding: 16px 0;
    }

        .top-head .nav-hamburger a {
            font-size: 24px;
            color: #8a8a8a;
        }

    .top-head .mid-col {
        width: 76%;
        float: left;
    }

    .top-head .logo {
        width: 168px;
        text-align: center;
        margin: 0 auto;
        padding-top: 10px;
    }

        .top-head .logo img {
            width: 100%;
            height: auto;
        }

    .top-head .welcome-col {
        color: #8a8a8a;
        font-size: 16px;
        font-weight: 500;
        text-align: right;
        margin-right: 30px;
        padding-top: 12px;
    }

        .top-head .welcome-col span {
            font-weight: 400;
            display: block;
            font-size: 14px;
        }

/** navigation css start **/
.inner-wrapper {
    position: relative;
    padding-left: 70px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    margin-top: 70px;
}

.side-nav {
    width: 70px;
    background: #fff;
    height: 100%;
    position: fixed;
    margin-left: -70px;
    overflow-y: auto;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    top: 64px;
    bottom: 0;
    -webkit-box-shadow: 2px -1px 6px -1px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 2px -1px 6px -1px rgba(0, 0, 0, 0.1);
    box-shadow: 2px -1px 6px -1px rgba(0, 0, 0, 0.1);
}

    .side-nav ul {
        margin: 0px;
        padding: 0px;
    }

        .side-nav ul li {
            display: block;
        }

            .side-nav ul li a {
                font-size: 22px;
                color: #a8a8a8;
                text-align: center;
                width: 100%;
                display: block;
                padding: 16px 0;
                -webkit-transition: all 0.5s ease;
                -moz-transition: all 0.5s ease;
                -o-transition: all 0.5s ease;
                transition: all 0.5s ease;
            }

                .side-nav ul li a.active, .side-nav ul li a:hover.active {
                    background: #03a9f4;
                    color: #fff;
                }

                .side-nav ul li a:hover {
                    background: rgba(3, 169, 244, 0.6);
                    color: #fff;
                }

                .side-nav ul li a i.zmdi-hc-fw {
                    margin: 0px;
                    width: 100%;
                }

.toggled .side-nav {
    width: 0px;
}

.toggled .inner-wrapper {
    padding-left: 0px;
}
/** report css start **/
.report-col {
    width: 100%;
}

    .report-col .report-data {
        padding: 30px;
    }

    .report-col .report-heading {
        font-size: 26px;
        margin-bottom: 25px;
    }

    .report-col .report-list a {
        text-decoration: none;
        color: #1c1c1c;
    }

    .report-col .report-list {
        width: 30%;
        padding: 12px;
        background: #fff;
        -webkit-box-shadow: -1px 0px 5px 0px rgba(0,0,0,0.3);
        -moz-box-shadow: -1px 0px 5px 0px rgba(0,0,0,0.3);
        box-shadow: -1px 0px 5px 0px rgba(0,0,0,0.3);
        border-radius: 3px;
        overflow: hidden;
        float: left;
        margin-bottom: 20px;
    }

    .report-col .mid-col {
        margin: 0 2%;
    }

    .report-col .all-report {
        margin-bottom: 15px;
    }
    /*.report-col .report-list:last-child {
    margin-right: 0;
    float: right;
} */
    .report-col .custom-icon {
        width: 50px;
        height: 50px;
        border-radius: 30px;
        position: relative;
        text-align: center;
        display: table;
        margin: 0 auto;
    }

        .report-col .custom-icon i {
            display: table-cell;
            vertical-align: middle;
            text-align: center;
            line-height: 0;
        }

            .report-col .custom-icon i img {
                width: 35px;
                height: 35px;
            }


    .report-col .custom-report-data {
        text-align: center;
        display: block;
        padding-top: 15px;
        display: table;
        width: 100%;
    }

        .report-col .custom-report-data .custom-text {
            font-size: 17px;
            font-weight: 500;
            text-transform: uppercase;
            display: inline-block;
            letter-spacing: -0.3px;
        }

        .report-col .custom-report-data .custom-arrow {
            width: 20px;
            height: 20px;
            border-radius: 30px;
            background: #03a9f4;
            float: right;
            font-size: 18px;
            color: #fff;
            line-height: 18px;
            margin-top: 2px;
        }

.long-title h3 {
    font-family: "Segoe UI Light", "Helvetica Neue Light", "Segoe UI", "Helvetica Neue", "Trebuchet MS", Verdana;
    font-weight: bold;
    font-size: 28px;
    text-align: center;
    margin-bottom: 20px;
}

.customHeader > div {
    color: white;
    text-align: left;
}

.customHeaderCenter > div {
    color: white;
    text-align: center;
}

.blankHeader {
    background-color: #f5f5f5;
}

.visible {
    display: block;
}

.hidden {
    display: none;
}
.col-md-2 label, .col-sd-2 label, .col-md-3 label, .col-md-4 label {
    margin-bottom: 1rem;
}
.row {
    margin-bottom: 0.5rem;
}
@media (max-width:1368px) {
    .report-col .custom-report-data .custom-text {
        font-size: 16px;
    }

    .report-col .report-list {
        width: 29.6%;
    }
}

@media (max-width:1280px) {
    .report-col .custom-report-data .custom-text {
        font-size: 15px;
    }

    .report-col .report-list {
        padding: 12px 6px;
    }

    .top-head .mid-col {
        width: 70%;
    }
}

@media (max-width:1180px) {
    .report-col .custom-report-data .custom-text {
        font-size: 13px;
        letter-spacing: -0.8px;
    }

    .report-col .custom-report-data .custom-arrow {
        margin-top: 0px;
    }
}

@media (max-width:1021px) {
    .report-col .report-data {
        padding: 10px 30px;
    }

    .report-col .report-list {
        width: 45%;
        margin: 0 1% 18px;
    }

    .top-head .mid-col {
        width: auto;
        margin-left: 14px;
    }

    .report-col .custom-report-data .custom-text {
        font-size: 13px;
        letter-spacing: 0;
    }
}

@media (max-width:767px) {
    .report-col .report-list {
        width: 100%;
        margin: 0 0 15px;
    }

    .report-col .report-heading {
        font-size: 22px;
        margin-bottom: 20px;
    }

    .top-head .welcome-col {
        font-size: 14px;
    }

        .top-head .welcome-col span {
            font-size: 13px;
        }
}

@media (max-width:480px) {
    .welcome-col {
        display: none;
    }

    .top-head .mid-col {
        width: 70%;
        text-align: center;
    }

    .side-nav {
        margin-left: 0px;
    }

    .inner-wrapper {
        padding-left: 0px;
    }

    .report-col .report-data {
        padding: 10px 15px;
    }

    .report-col .report-list {
        width: 96%;
        padding: 12px 5px;
    }

    .report-col .custom-report-data .custom-text {
        font-size: 12px;
    }
}
