@font-face{
  font-family:"Open Sans";
  src:url(../fonts/OpenSans-Italic.woff2?v=1.101) format("woff2"),url(fonts/Italic/OpenSans-Italic.woff?v=1.101) format("woff");
  font-weight:400;
  font-style:italic
}
@font-face{
  font-family:"Open Sans";
  src:url(../fonts/OpenSans-Semibold.woff2?v=1.101) format("woff2"),url(fonts/Semibold/OpenSans-Semibold.woff?v=1.101) format("woff");
  font-weight:600;
  font-style:normal
}
@font-face{
  font-family:"Open Sans";
  src:url(../fonts/OpenSans-SemiboldItalic.woff2?v=1.101) format("woff2"),url(fonts/SemiboldItalic/OpenSans-SemiboldItalic.woff?v=1.101) format("woff");
  font-weight:600;
  font-style:italic
}
@font-face{
  font-family:"Open Sans";
  src:url(../fonts/OpenSans-Bold.woff2?v=1.101) format("woff2"),url(fonts/Bold/OpenSans-Bold.woff?v=1.101) format("woff");
  font-weight:700;
  font-style:normal
}
@font-face{
  font-family:"Open Sans";
  src:url(../fonts/OpenSans-BoldItalic.woff2?v=1.101) format("woff2"),url(fonts/BoldItalic/OpenSans-BoldItalic.woff?v=1.101) format("woff");
  font-weight:700;
  font-style:italic
}
@font-face{
  font-family:"Open Sans";
  src:url(../fonts/OpenSans-ExtraBold.woff2?v=1.101) format("woff2"),url(fonts/ExtraBold/OpenSans-ExtraBold.woff?v=1.101) format("woff");
  font-weight:800;
  font-style:normal
}
@font-face{
  font-family:"Open Sans";
  src:url(../fonts/OpenSans-ExtraBoldItalic.woff2?v=1.101) format("woff2"),url(fonts/ExtraBoldItalic/OpenSans-ExtraBoldItalic.woff?v=1.101) format("woff");
  font-weight:800;
  font-style:italic
}