﻿


body {
    z-index: 1;
    font-size: 100%;
    font-style:normal;
    font-family: 'Trebuchet MS';
    font-size: 10pt;
    font-weight: 400;
}
#form1 {
    height: 100vh;
}
.extraPadding td {
    padding: 10px;
}
.mainViewer th { 
    text-align: center;
    border-color: black;
    padding: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    white-space: nowrap;
    background-color: #2c87be;
    min-width: 21.96mm;
    color: white;
}

.mainViewer th > a {
     color:white;
 }

.mainViewer td {
    white-space: nowrap;
    border-color: black;
    padding: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    min-width: 21.96mm;
    
}
.mainDataView {
    white-space: nowrap;
    text-align: center;
}
.mainDataView table {
    margin: 0 auto; 
    text-align: left;
}
.mainViewFooter td, .mainViewFooter {
    background-color: #fcf75e;
    font-weight: bold;
    text-align: right;
    border-top: 2px solid black;
}
.hostColumn {
    background-color: #2c87be;
    color: white;
}
.tableLink:link {
    color: blue;
}
.tableLink:visited{
    color:  blue; 
}   
p {
    color: #2c87be;
    font-size: 1.2em;
}
.reportList {
    width: 100%;
    line-height: 20px;
}
td.reportList {
    width: 29%;
    padding-top: 5px;
    padding-bottom: 5px;
}
span.reportList:hover {
    background-color: #E1F3FF;
}
span.reportList {
    padding: 4px;
}

.backColor {
    background-color: #D6DCE4;
}
.altBackColor {
    background-color: #DDEBF7;
}
.documentImage {
    padding-right: 8px;
    vertical-align: text-bottom;
    border: none;
}
#navigationPanel {
    height: 18px;
    z-index: 6;
    width: 100%;
    background-color: #2c87be;
    color: white;
    position: fixed;
    top: 0px;
    left: 0px;
    font-size: small;
}
#homeLink {
    padding: 4px;
}
#homeLink:visited {
    color: white;
}
#homeLink:link {
    color: white;
}
#actionBar {
    z-index: 4;
    padding: 3px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid #808080;
    background-color: #e8e8e8;
    position: fixed;
    width: 100%;
    top: 18px;
    left: 0px
}
#actionsButton {
    cursor: pointer;
    z-index: 6;
    padding-top: 6px;
    padding-bottom: 8px;
    padding-left: 8px;
    padding-right: 4px;
}
#navOptions {
    padding-left: 4px;
}
.navButtons {
    padding-left: 4px;
    padding-right: 4px;
}
#rowNumberSpan {
    z-index: 5;
    float: right;
    padding-right: 20px;
}
#headerTable {
    margin-top: 60px;
    width: 100%;
    padding: 0;
}
#headerCellLeft {
    width: 20%;
}
#headerCellMid {
    z-index: 2;
    color: #2c87be;
    width: 60%;
    text-align: center;
    white-space: normal;
    font-size: 1.8em;
}
#headerCellRight {
    width: 20%;
}
#headerCellRight span {
    float: right;
}
#headerCellBottom {
    white-space: normal;
    padding-top: 5px;
    padding-bottom: 8px;
    text-align: center;
}
#reportDescription {
    font-size: small;
    color: black;
    font-style: italic;
}

#footerTable {
    width: 100%;
    padding: 0;
}
#footerCellLeft {
    width: 25%;
    font-size: 0.85em;
    vertical-align: top;
}
#footerCellMid {
    width: 50%;
    font-size: 0.85em;
    vertical-align: top;
    text-align: center;
}
#footerCellRight {
    width: 25%;
    font-size: 0.85em;
    text-align: right;
    padding-right: 20px;
}
.negativeNumbers, .negativeNumbers a:link, .negativeNumbers a:visited {
    color: red;
    border-color: black;
}
.importantInfo {
    color: red;
}
.totalRow {
    background-color: #a6a6a6;
    text-align: right;
    color: white;
}
