﻿@using SpotlightCoin.Model.Domain

@{
    ViewBag.Title = "GetDailyPOSRevenueFiscalYOY";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div>
    <form asp-action="GetDailyPOSRevenueFiscalYOYSearch" id="postForm">
        <!-- form content-->
        <div class="long-title">
            <h3>Daily POS Revenue Fiscal YOY</h3>
        </div>
        <div class="row">
            <div class="col-md-4">
                @(Html.Label("Start Date : "))
                @(Html.DevExtreme().DateBox().ID("txtStartDate").Type(DateBoxType.Date).Name("StartDate").Placeholder("MM/DD/YYYY").AcceptCustomValue(true).OnValueChanged("onStartDateValueChanged").Max(DateTime.Now).InvalidDateMessage("Value must be valid date")

                )
            </div>
            <div class="col-md-4">

                @(Html.Label("End Date : "))
                @(Html.DevExtreme().DateBox().ID("txtEndDate").Type(DateBoxType.Date).Name("EndDate").Placeholder("MM/DD/YYYY").AcceptCustomValue(true).OnValueChanged("onEndDateValueChanged").Max(DateTime.Now).InvalidDateMessage("Value must be valid date")

                )
            </div>
            <div class="col-md-4">
                @(Html.DevExtreme().Button().UseSubmitBehavior(true).Text("Search").Type(ButtonType.Default))
            </div>
        </div>
    </form>
</div>

<div id="dvYOO">
</div>

<script>
    $("#postForm").on("submit", function (e) {
        $('#loading').show();
        e.preventDefault()
        $.ajax({
            method: "POST",
            url: "/Report/GetDailyPOSRevenueFiscalYOYSearch",
            data: $("#postForm").serialize(),
            success: function (response) {
                $("#dvYOO").html(response);
              //  $('#loading').hide();
            },
            failure: function () {
                $('#loading').hide();
            }
        })
    })

</script>
