﻿@using DevExtreme.AspNet.Mvc
@using SpotlightCoin.Model.Domain

@{
    ViewBag.Title = "GetHostedPlayerActivity";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<div>

    <form asp-action="GetHostedPlayerActivitySearch" id="postForm">
        <!-- form content-->
        <link href="~/lib/multiple-select.css" rel="stylesheet" />
        <div class="long-title">
            <h3>Hosted Player Activity</h3>
        </div>
        <div class="row">
            <div class="col-md-3">
                @(Html.Label("Start Date : "))
                @(Html.DevExtreme().DateBox().ID("txtStartDate").Type(DateBoxType.Date).Name("StartDate").Placeholder("MM/DD/YYYY").AcceptCustomValue(true).OnValueChanged("onStartDateValueChanged").Max(DateTime.Now).InvalidDateMessage("Value must be valid date")

                )
               
            </div>
            <div class="col-md-3">
                @(Html.Label("End Date : "))
                @(Html.DevExtreme().DateBox().ID("txtEndDate").Type(DateBoxType.Date).Name("EndDate").Placeholder("MM/DD/YYYY").AcceptCustomValue(true).OnValueChanged("onEndDateValueChanged").Max(DateTime.Now).InvalidDateMessage("Value must be valid date")

                )
               

            </div>
            <div class="col-md-3">
                @(Html.Label("Host : "))
                <div id="chkHost" class="chkHost">
                    <div class="ms-parent " style="width: 146.813px;"><button type="button" class="ms-choice"><span class=""></span><div class=""></div></button></div>
                </div>
            </div>
            <div class="col-md-3">
                @(Html.DevExtreme().Button().UseSubmitBehavior(true).Text("Search").Type(ButtonType.Default))

                @(Html.DevExtreme().Popup()
                        .ID("popShowHide")
                        .Content("Please select the Host")
                        .Width(300)
                        .Height(250)
                        .ShowTitle(true)
                        .Title("Alert")
                        .CloseOnOutsideClick(true)
                        .ShowCloseButton(true))
            </div>
        </div>
    </form>
</div>

<div id="dvHostedPlayerActivity">
 
</div>

<script>
   

    function bindHost() {
        if (startDateOldVal != null && endDateOldVal != null && startDateOldVal <= endDateOldVal) {
            $('#loading').show();
            $.ajax({
                method: "POST",
                data: $("#postForm").serialize(),
                url: "/Report/GetHostListMultiple",
                success: function (response) {
                    $("#chkHost").html(response);
                    $('#loading').hide();
                }
            });
        }

    }

    $("#postForm").on("submit", function (e) {
        if ($("div .chkHost select").val().length == 0) {            
            $("#popShowHide").dxPopup("instance").show()
            return false;
        }
        $('#loading').show();
        e.preventDefault()
        $('#HostId').val(hostData.data().multipleSelect.getSelects().join())
        $.ajax({
            method: "POST",
            url: "/Report/GetHostedPlayerActivitySearch",
            data: $("#postForm").serialize(),
            success: function (response) {
                $("#dvHostedPlayerActivity").html(response);           
            },
            failure: function () {
                $('#loading').hide();
            }
        });
    })


    function getLoadPanelInstance() {
        return $("#loadPanel").dxLoadPanel("instance");
    }

</script>

<style>
    .ms-parent {
        width: 200px !important;
    }
</style>