﻿@using DevExtreme.AspNet.Mvc
@using SpotlightCoin.Model.Domain
@{
    ViewBag.Title = "GetMonthEndSlotMarketingAnalysis";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ChartInpuControlData data = (ViewData["Data"] as ChartInpuControlData);

}

<div>

    <form asp-action="GetMonthEndSlotMarketingAnalysisSearch" id="postForm">
        <!-- form content-->

        <div class="long-title">
            <h3>Month End Slot Marketing Analysis</h3>
        </div>
        <div class="row">
            <div class="col-md-4">
                @(Html.Label("Begin Year: "))
                @(Html.DevExtreme().SelectBox().DataSource(data.ReportYearStart.ToList()).ID("ddlBegin").DisplayExpr("Year").ValueExpr("YearCode").Name("Begin").OnValueChanged("onBeginEndValueChanged").ValidationError("Please select Begin Year <= End Year"))

            </div>
            <div class="col-md-4">
                @(Html.Label("End Year: "))
                @(Html.DevExtreme().SelectBox().DataSource(data.ReportYearStart.ToList()).ID("ddlEnd").DisplayExpr("Year").ValueExpr("YearCode").Name("End").OnValueChanged("onBeginEndValueChanged").ValidationError("Please select End Year >= Begin Year"))
            </div>

            <div class="col-md-4">
                @(Html.DevExtreme().Button().UseSubmitBehavior(true).Text("Search").Type(ButtonType.Default))
            </div>
        </div>
    </form>
</div>

<div id="dvMonthEndSlotMarketingAnalysis">
</div>

<script>
    $("#postForm").on("submit", function (e) {
        $('#loading').show();
        e.preventDefault()
        $.ajax({
            method: "POST",
            url: "/Report/GetMonthEndSlotMarketingAnalysisSearch",
            data: $("#postForm").serialize(),
            success: function (response) {
                $("#dvMonthEndSlotMarketingAnalysis").html(response);
            },
            failure: function () {
                $('#loading').hide();
            }
        })
    });



    var beginYear;
    var endYear;

    $(function () {
        beginYear = $("#ddlBegin").dxSelectBox({
        }).dxSelectBox("instance");
        endYear = $("#ddlEnd").dxSelectBox({
        }).dxSelectBox("instance");
    });

    var onBeginEndValueChanged = function (e) {
        if (beginYear.option("value") !== null && endYear.option("value") !== null) {

            if (beginYear.option("value") <= endYear.option("value")) {

            }
            else {

                if (e.component._$element.attr('id') === "ddlBegin") {
                    beginYear.option("value", false);
                } else {
                    endYear.option("value", false);
                }

            }
        }
    }
</script>
