﻿@using DevExtreme.AspNet.Mvc

@{
    ViewBag.Title = "GetNewMemberbyADTorADAReport";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var ReportType = new[] {new {
        ID = 0,
        Name = "All Player"

    },
     new {
        ID = 1,
        Name = "New Player"

    } };

    var Type = new[] {new {
        ID = 1,
        Name = "ADT"

    },
     new {
        ID = 2,
        Name = "ADA Win"

    },
     new {
        ID = 3,
        Name = "ADA Loss"

    } };
}

<div>

    <form asp-action="GetGetNewMemberbyADTorADAReportSearch" id="postForm">
        <div class="long-title">
            <h3>New Member by ADT or ADA Report</h3>
        </div>
        <div class="row">
            <div class="col-md-2">
                @(Html.Label("Start Date : "))
                @(Html.DevExtreme().DateBox().ID("txtStartDate").Type(DateBoxType.Date).Name("StartDate").Placeholder("MM/DD/YYYY").AcceptCustomValue(true).OnValueChanged("onStartDateValueChanged").Max(DateTime.Now).InvalidDateMessage("Value must be valid date")

                )
            </div>
            <div class="col-md-2">
                @(Html.Label("End Date : "))
                @(Html.DevExtreme().DateBox().ID("txtEndDate").Type(DateBoxType.Date).Name("EndDate").Placeholder("MM/DD/YYYY").AcceptCustomValue(true).OnValueChanged("onEndDateValueChanged").Max(DateTime.Now).InvalidDateMessage("Value must be valid date")

                )
            </div>

            <div class="col-sd-2">

                @(Html.Label("Type : "))
                @(Html.DevExtreme().SelectBox().DataSource(Type).DisplayExpr("Name")
                                                    .ValueExpr("ID").Name("Type"))
            </div>
            
            <div class="col-md-2">
                @(Html.Label("Amount : "))
                @(Html.DevExtreme().NumberBox().ID("txtAmount").Name("Amount").Placeholder("Amount"))
            </div>
            <div class="col-md-2">
                @(Html.Label("Report Type : "))
                @(Html.DevExtreme().SelectBox().DataSource(ReportType).DisplayExpr("Name")
                                                            .ValueExpr("ID").Name("ReportType"))
            </div>
            <div >
                @(Html.DevExtreme().Button().UseSubmitBehavior(true).Text("Search").Type(ButtonType.Default))
            </div>
        </div>
    </form>
</div>

<div id="dvNewMemberbyADTorADAReport">
</div>

<script>
    $("#postForm").on("submit", function (e) {
        $('#loading').show();
        e.preventDefault()
        $.ajax({
            method: "POST",
            url: "/Report/GetNewMemberbyADTorADAReportSearch",
            data: $("#postForm").serialize(),
            success: function (response) {
                $("#dvNewMemberbyADTorADAReport").html(response);
            },
            failure: function () {
                $('#loading').hide();
            }
        })
    })

</script>