﻿@using DevExtreme.AspNet.Mvc
@using SpotlightCoin.Model.Domain

@{
    ViewBag.Title = "GetPatronCardedRevenueTrends";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var ReportType = new[] {new {
        ID = 1,
        Name = "Theo Win"

    },
     new {
        ID = 2,
        Name = "Actual Win"

    } };
}

<div>

    <form asp-action="GetPatronCardedRevenueTrendsSearch" id="postForm">

        <div class="long-title">
            <h3>Patron Carded Revenue Trends</h3>
        </div>
        <div class="row">
            <div class="col-md-4">
                @(Html.Label("End Date : "))
                @(Html.DevExtreme().DateBox().ID("txtStartDate").Type(DateBoxType.Date).Name("EndDate").Placeholder("MM/DD/YYYY").AcceptCustomValue(true).InvalidDateMessage("Value must be valid date")

                )
            </div>
            <div class="col-md-4">
                @(Html.Label("Report Type : "))
                @(Html.DevExtreme().SelectBox().DataSource(ReportType).DisplayExpr("Name")
                                                                    .ValueExpr("ID").Name("ReportType"))
            </div>
            <div class="col-md-4">
                @(Html.DevExtreme().Button().UseSubmitBehavior(true).Text("Search").Type(ButtonType.Default))
            </div>
        </div>
    </form>
</div>

<div id="dvPatronCardedRevenueTrends">
</div>

<script>
    $("#postForm").on("submit", function (e) {
        $('#loading').show();
        e.preventDefault()
        $.ajax({
            method: "POST",
            url: "/Report/GetPatronCardedRevenueTrendsSearch",
            data: $("#postForm").serialize(),
            success: function (response) {
                $("#dvPatronCardedRevenueTrends").html(response);
            },
            failure: function () {
                $('#loading').hide();
            }
        })
    })

</script>
