﻿@using DevExtreme.AspNet.Mvc
@using SpotlightCoin.Model.Domain

@{
    ViewBag.Title = "GetPatronListing";
    Layout = "~/Views/Shared/_Layout.cshtml";

   

    var Months = new[] {new {
ID = 0,
Name = "ALL"

},new {
ID = 1,
Name = "January"

},
new {
ID = 2,
Name = "February"

},
new {
ID = 3,
Name = "March"

},
new {
ID = 4,
Name = "April"

},
new {
ID = 5,
Name = "May"

},
new {
ID = 6,
Name = "June"

},
new {
ID = 7,
Name = "July"

},
new {
ID = 8,
Name = "August"

},
new {
ID = 9,
Name = "September"

},
new {
ID = 10,
Name = "October"

},
new {
ID = 11,
Name = "November"

},
new {
ID = 12,
Name = "December"

} };
}

<div>

    <form asp-action="GetPatronListingSearch" id="postForm">
        <link href="~/lib/multiple-select.css" rel="stylesheet" />
        <div class="long-title">
            <h3>Patron Listing</h3>
        </div>
        <div class="row">
            <div class="col-md-2">
                @(Html.Label("Start Date : "))
                @(Html.DevExtreme().DateBox().ID("txtStartDate").Type(DateBoxType.Date).Name("StartDate").Placeholder("MM/DD/YYYY").AcceptCustomValue(true).OnValueChanged("onStartDateValueChanged").Max(DateTime.Now).InvalidDateMessage("Value must be valid date")

                )
            </div>
            <div class="col-md-2">
                @(Html.Label("End Date : "))
                @(Html.DevExtreme().DateBox().ID("txtEndDate").Type(DateBoxType.Date).Name("EndDate").Placeholder("MM/DD/YYYY").AcceptCustomValue(true).OnValueChanged("onEndDateValueChanged").Max(DateTime.Now).InvalidDateMessage("Value must be valid date")

                )
            </div>
            <div class="col-md-3">
                @(Html.Label("Host : "))
                <div id="chkHost">
                    <div class="dx-selectbox dx-textbox dx-texteditor dx-editor-underlined dx-widget dx-state-disabled dx-texteditor-empty dx-dropdowneditor-button-visible dx-dropdowneditor dx-dropdowneditor-field-clickable dx-validator dx-visibility-change-handler"><div class="dx-dropdowneditor-input-wrapper dx-selectbox-container"><div class="dx-texteditor-container"><input autocomplete="off" id="Birth" class="dx-texteditor-input" aria-haspopup="true" aria-autocomplete="list" type="text" readonly="" spellcheck="false" tabindex="-1" aria-disabled="true" disabled="disabled" role="combobox" aria-expanded="false"><div data-dx_placeholder="Select..." class="dx-placeholder"></div><div class="dx-texteditor-buttons-container"><div class="dx-dropdowneditor-button dx-button-normal dx-button-mode-contained dx-widget" role="button"><div class="dx-button-content"><div class="dx-dropdowneditor-icon"></div></div></div></div></div></div></div>
                </div>
            </div>
            <div class="col-md-3">

                @(Html.Label("Birth Month : "))
                @(Html.DevExtreme().SelectBox().DataSource(Months).DisplayExpr("Name")
                                                                    .ValueExpr("ID").Name("Birth"))
            </div>
            <div class="col-md-2">
                @(Html.Label("Anniversary Month : "))
                @(Html.DevExtreme().SelectBox().DataSource(Months).DisplayExpr("Name")
                                                                            .ValueExpr("ID").Name("Anniversary"))
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                @(Html.Label("Visits >= : "))
                @(Html.DevExtreme().NumberBox().ID("txtVisits").Name("Visits").Placeholder("Visits"))
            </div>
            <div class="col-md-2">
                @(Html.Label("Points Earned >= : "))
                @(Html.DevExtreme().NumberBox().ID("txtPonts").Name("Points").Placeholder("Points"))
            </div>
            <div class="col-md-3">
                @(Html.Label("Theo >= : "))
                @(Html.DevExtreme().NumberBox().ID("txtTheo").Name("Theo").Placeholder("Theo"))
            </div>
            <div class="col-md-3">
                @(Html.Label("ADT >= : "))
                @(Html.DevExtreme().NumberBox().ID("txtADT").Name("ADT").Placeholder("ADT"))
            </div>
            <div class="col-md-2" style="margin-top:4px;">
                @(Html.DevExtreme().Button().UseSubmitBehavior(true).Text("Search").Type(ButtonType.Default))
            </div>

        </div>
    </form>
</div>

<div id="dvPatronListing">
</div>

<script>

   
    function bindHost() {
        if (startDateOldVal <= endDateOldVal) {
            $('#loading').show();
            $.ajax({
                method: "POST",
                data: $("#postForm").serialize(),
                url: "/Report/GetHostList",
                success: function (response) {
                    $("#chkHost").html(response);
                    $('#loading').hide();
                },
                failure: function () {
                    $('#loading').hide();
                }
            });
        }

    }
    var rData;
    $("#postForm").on("submit", function (e) {
        $('#loading').show();       
        e.preventDefault()
        $.ajax({
            method: "POST",
            url: "/Report/GetPatronListingSearch",
            data: $("#postForm").serialize(),
            success: function (response) {
                rData = response;
                $("#dvPatronListing").html(response.replace('devextreme0', 'devextreme100').replace('devextreme0', 'devextreme100'));
            },
            failure: function () {
                $('#loading').hide();
            }
        })
    })

</script>