﻿@model IEnumerable<Spotlight.Reports.Models.ReportList>

@{

    List<Spotlight.Reports.Models.ReportList> data = Model.ToList();
}

<link href="~/lib/StyleSheet.css" rel="stylesheet" />
<script type="text/javascript">

    menuType = "ReportList";

</script>
<div class="long-title">
    <h3>
        Please Select Report</h3>
</div>
<div class="all-report">

    @for (int index = 0; index < data.Count(); index += 3)
    {


        <div class="report-list">
            <a href="@Url.Action(data[index].ReportActionName, "Report")" title="The Contact ROI Report is a CxO report that reflects the Increase/Decrease of Trips, Theo, ADT, Actual and ADA prior to the first contact made with the patron vs the same time period after the last contact made with the patron.">
                <div class="custom-icon  @data[index].ReportName.Trim().Replace(" ","").ToLower()">
                    <i>

                        <img src="@Url.Content("~/images/"+data[index].ReportName.Trim().Replace(" ","").ToLower()+".png")" alt="@data[index].ReportName.Trim().Replace(" ","").ToLower()">
                    </i>
                </div>
                <div class="custom-report-data">
                    <div class="custom-text">
                        @data[index].ReportName
                    </div>
                    <div class="custom-arrow">
                        <i class="fa fa-angle-right"></i>
                    </div>
                </div>
            </a>
        </div>

        @if (index + 1 < data.Count())
        {
            <div class="report-list mid-col">
                <a href="@Url.Action(data[index + 1].ReportActionName, "Report")" title="The Contact ROI Report is a CxO report that reflects the Increase/Decrease of Trips, Theo, ADT, Actual and ADA prior to the first contact made with the patron vs the same time period after the last contact made with the patron.">
                    <div class="custom-icon @data[index+1].ReportName.Trim().Replace(" ","").ToLower()">
                        <i>
                            <img src="@Url.Content("~/images/"+data[index+1].ReportName.Trim().Replace(" ","").ToLower()+".png")" alt="@data[index+1].ReportName.Trim().Replace(" ","").ToLower()">
                        </i>
                    </div>
                    <div class="custom-report-data">
                        <div class="custom-text">
                            @data[index + 1].ReportName
                        </div>
                        <div class="custom-arrow">
                            <i class="fa fa-angle-right"></i>
                        </div>
                    </div>
                </a>
            </div>

        }

        @if (index + 2 < data.Count())
        {
            <div class="report-list">
                <a href="@Url.Action(data[index + 2].ReportActionName, "Report")" title="The Contact ROI Report is a CxO report that reflects the Increase/Decrease of Trips, Theo, ADT, Actual and ADA prior to the first contact made with the patron vs the same time period after the last contact made with the patron.">
                    <div class="custom-icon @data[index+2].ReportName.Trim().Replace(" ","").ToLower()">
                        <i>
                            <img src="@Url.Content("~/images/"+data[index+2].ReportName.Trim().Replace(" ","").ToLower()+".png")" alt="@data[index+2].ReportName.Trim().Replace(" ","").ToLower()">
                        </i>
                    </div>
                    <div class="custom-report-data">
                        <div class="custom-text">
                            @data[index + 2].ReportName
                        </div>
                        <div class="custom-arrow">
                            <i class="fa fa-angle-right"></i>
                        </div>
                    </div>
                </a>
            </div>
        }
    }



</div>









