﻿@using DevExtreme.AspNet.Mvc
@using SpotlightCoin.Model.Domain

@{
    ViewBag.Title = "GetTopTwentyWinnersandLosers";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var ActivityType = new[] {new {
        ID = 1,
        Name = "All Gaming"

    },
     new {
        ID = 2,
        Name = "Slots"

    },
     new {
        ID = 3,
        Name = "Tables"
    } };
}

<div>

    <form asp-action="GetTopTwentyWinnersandLosersSearch" id="postForm">

        <div class="long-title">
            <h3>Top Twenty Winners and Losers</h3>
        </div>
        <div class="row">
            <div class="col-md-4">
                @(Html.Label("Gaming Date : "))
                @(Html.DevExtreme().DateBox().ID("txtEndDate").Type(DateBoxType.Date).Name("EndDate").Placeholder("MM/DD/YYYY").AcceptCustomValue(true).Max(DateTime.Now).Value(DateTime.Now.AddDays(-1))

                )
            </div>
            <div class="col-md-4">

                @(Html.Label("Activity Type : "))
                @(Html.DevExtreme().SelectBox().DataSource(ActivityType).DisplayExpr("Name")
                             .ValueExpr("ID").Name("ReportType").Value(1))
            </div>
            <div class="col-md-4">
                @(Html.DevExtreme().Button().UseSubmitBehavior(true).Text("Search").Type(ButtonType.Default))
            </div>
        </div>
    </form>
</div>

<div id="dvTopTwentyWinnersandLosers">
</div>

<script>
    $("#postForm").on("submit", function (e) {
        $('#loading').show();
    e.preventDefault()
    $.ajax({
        method: "POST",
        url: "/Report/GetTopTwentyWinnersandLosersSearch",
        data: $("#postForm").serialize(),
        success: function (response) {
            $("#dvTopTwentyWinnersandLosers").html(response);
        },
        failure: function () {
            $('#loading').hide();
        },
        failure: function () {
            $('#loading').hide();
        }
    })
})

</script>