﻿@model IEnumerable<SpotlightCoin.Model.Domain.DailyPOSRevenueFiscalYOY>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>DailyPOSRevenueFiscalYOY</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FiscalYear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PropertyId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OutletID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OutletName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AllCovers)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalRevvenue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Checks)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FiscalYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PropertyId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OutletID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OutletName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AllCovers)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalRevvenue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Checks)
            </td>
            
        </tr>
}
    </tbody>
</table>
