﻿@using SpotlightCoin.Model.Domain
@model Host




<h2>Login</h2>
<hr />
@if (ViewBag.Message != null)
{
    <div class="row">
        <div class="col-md-4">
            <span style="color:red">@ViewBag.Message</span>
        </div>
    </div>

}
<div class="row">
    <div class="col-md-4">
        <form asp-action="Login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="HostUserName" class="control-label"></label>
                @Html.DropDownListFor(m => m.LDAPUserName, (IEnumerable<SelectListItem>)ViewBag.HostList, "--Please select user--", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.LDAPUserName, null, new { @style = "color:red" })
                @*<span asp-validation-for="HostUserName" class="text-danger"></span>*@
            </div>
            <div class="form-group">
                <label asp-for="HostPassword" class="control-label"></label>
                <input asp-for="HostPassword" type="password" class="form-control" />
                <span asp-validation-for="HostPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Login" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

