﻿@using DevExtreme.AspNet.Mvc
@using SpotlightCoin.Model.Domain

@model NewMemberbyADTorADAReport

@{
    Layout = null;
    var data = ViewData["Data"] as IEnumerable<NewMemberbyADTorADAReport>;
    var ReportType = ViewData["ReportType"] as int?;
    ReportSearchEntity rse = (ReportSearchEntity)ViewBag.searchParameter;
    string fileName = string.Format("New Member by ADT or ADA Report_{0:ddMMMyyyy} TO {1:ddMMMyyyy} {2} Greater or Equal ${3} For {4} Palyer", rse.StartDate, rse.EndDate, (rse.Type == 0 ? "ADT" : rse.Type == 1 ? "ADA Win" : "ADA Loss"), rse.Amount, (rse.ReportType == 0 ? "ALL" : "New"));
}

@(
                                Html.DevExtreme().DataGrid<NewMemberbyADTorADAReport>
                    ()
                    .DataSource(data)
                    .HeaderFilter(f => f.Visible(true).AllowSearch(true))
                    .GroupPanel(p => p.Visible(false))
                    .Export(e => e.Enabled(true).FileName(fileName).ExcelFilterEnabled(true).ExcelWrapTextEnabled(true))
                    .Height(500)
                    .ShowBorders(true)
                    .ColumnAutoWidth(true)
                    .Columns(columns =>
                    {


                        columns.Add()
                        .Caption((ReportType == 1 ? "New Member by ADT Report" : ReportType == 2 ? "New Member by ADA Win Report" : "New Member by ADA Loss Report")).CssClass("customHeader")
                        .Columns(a =>
                        {
                            a.AddFor(m => m.PlayerID);
                            a.AddFor(m => m.FirstName);
                            a.AddFor(m => m.LastName);
                            a.AddFor(m => m.Address1A).Caption("Address");
                            a.AddFor(m => m.City1).Caption("City");
                            a.AddFor(m => m.State1).Caption("State");
                            a.AddFor(m => m.Zip1).Caption("ZipCode");
                            a.AddFor(m => m.CardLevel).Caption("Tier");
                            a.AddFor(m => m.HomePhone1).Caption("Phone");
                            a.AddFor(m => m.EMail).Caption("Email Address");
                            a.AddFor(m => m.EntryDate);
                            a.AddFor(m => m.PlayerType).Caption("Hosted");
                            a.AddFor(m => m.AccountStatusId).Caption("Status");
                            a.AddFor(m => m.MailFlag);
                            a.AddFor(m => m.LastVisit);
                            a.AddFor(m => m.Trips);
                            a.AddFor(m => m.Theo).Format("($#,##0)");
                            a.AddFor(m => m.ADT).Format("($#,##0)");
                            a.AddFor(m => m.ActualWin).Caption("Actual").Format("$#,##0");
                            a.AddFor(m => m.ADA).Format("($#,##0)");
                        });


                    })

)

<script type="text/javascript">
    $(document).ready(function () {
        $('#loading').hide();
    });
</script>