﻿@using DevExtreme.AspNet.Mvc
@using SpotlightCoin.Model.Domain


@{
    Layout = null;
    var data = ViewData["Data"] as IEnumerable<DailyPOSRevenueFiscalYOY>;
    ReportSearchEntity rse = (ReportSearchEntity)ViewBag.searchParameter;
    string fileName = string.Format("Daily POS Revenue Fiscal YOY_{0:ddMMMyyyy} TO {1:ddMMMyyyy}", rse.StartDate, rse.EndDate);
}




@(Html.DevExtreme().PivotGrid<DailyPOSRevenueFiscalYOY>()
    .ID("pivotgrid")
    .DataFieldArea(PivotGridDataFieldArea.Column)
    .RowHeaderLayout(PivotGridRowHeadersLayout.Standard)
    .WordWrapEnabled(false)
    .ShowBorders(true)
    .AllowExpandAll(true)
    .Export(e => e.Enabled(true).FileName(fileName))
    .Height(600)
    .DataSource(d => d
    .Store(s => s.Array().Data(data))

    .Fields(fields =>
    {


        fields.AddFor(m => m.Date)
.Expanded(true).Caption("Compared Date ")
.Area(PivotGridArea.Row).AllowExpandAll(true).AllowFiltering(false).SortBy(PivotGridSortBy.None);

        fields.AddFor(m => m.OutletName).Caption("Outlet Id").AllowSorting(true)
.Area(PivotGridArea.Row);

        fields.AddFor(m => m.FiscalYear)
.Area(PivotGridArea.Column).SortOrder(SortOrder.Desc);


        fields.AddFor(m => m.TotalRevvenue)
.Caption("Total Revenue")
.SummaryType(SummaryType.Sum)
.Format(Format.Currency)
.Area(PivotGridArea.Data);

        fields.AddFor(m => m.AllCovers)
.Caption("Covers")
.SummaryType(SummaryType.Sum)

.Area(PivotGridArea.Data);

        fields.AddFor(m => m.Checks)
.Caption("Checks")
.SummaryType(SummaryType.Sum)

.Area(PivotGridArea.Data);
    })
    )
    .FieldChooser(c => c.Enabled(false)).ShowColumnGrandTotals(false).FieldPanel(p => p.Visible(true).ShowRowFields(true).ShowFilterFields(false).ShowColumnFields(false).ShowDataFields(false).AllowFieldDragging(false))
)


<script type="text/javascript">
    $(document).ready(function () {
        $('#loading').hide();
    });
</script>