﻿@using DevExtreme.AspNet.Mvc
@using SpotlightCoin.Model.Domain


@{
    Layout = null;
    ChartData data = (ViewData["Data"] as ChartData);
    ReportSearchEntity rse = (ReportSearchEntity)ViewBag.searchParameter;

}
<div>
    @(Html.DevExtreme().Button().UseSubmitBehavior(false).Text("").Icon("chevronprev").Type(ButtonType.Normal).OnClick("prev") )
    <span id="spCount">1 /11</span>
    @(Html.DevExtreme().Button().UseSubmitBehavior(false).Text("").Icon("chevronnext").Type(ButtonType.Normal).OnClick("next") )
</div>
<div id="dvplayers" class="visible">


    @(Html.DevExtreme().Chart()
                .ID("playersChart")
                .Palette(VizPalette.Violet)
                .CommonSeriesSettings(s => s
                .ArgumentField("MonthShortName")
                .ValueField("RatedPatronCount")
                .Type(SeriesType.Line)
                )
                .SeriesTemplate(t => t
                .NameField("Year")
                )
                .Title(t => t
                .Text("Players")
                )
                .Export(e => e.Enabled(true).FileName(string.Format("Month End Slot Marketing Analysis Players Chart For_{0} TO {1}", rse.Begin, rse.End)))
                .Legend(l => l
                .VerticalAlignment(VerticalEdge.Bottom)
                .HorizontalAlignment(HorizontalAlignment.Center)
                )
                .DataSource(data.ReportMains.ToList())
    )


    @(Html.DevExtreme().PivotGrid<ReportMain>()
                .ID("playersGrid")
                .DataFieldArea(PivotGridDataFieldArea.Column)
                .RowHeaderLayout(PivotGridRowHeadersLayout.Tree)
                .WordWrapEnabled(false)
                .ShowBorders(true)
                .AllowExpandAll(false)
                .Export(e => e.Enabled(true).FileName(string.Format("Month End Slot Marketing Analysis Players Detail For_{0} TO {1}", rse.Begin, rse.End)))
                .Height(385)
                .DataSource(d => d
                .Store(s => s.Array().Data(data.ReportMains.ToList()))

                .Fields(fields =>
                {




                    fields.AddFor(m => m.Year)
        .Expanded(true)
        .Area(PivotGridArea.Row).Caption("Year");

                    fields.AddFor(m => m.MonthShortName)
        .Area(PivotGridArea.Column);


                    fields.AddFor(m => m.RatedPatronCount)
        .Caption("Total Revenue")
        .SummaryType(SummaryType.Sum)
        .Format("(#,##0)")
        .Area(PivotGridArea.Data);


                })
                )
                .FieldChooser(c => c.Enabled(false)).ShowColumnGrandTotals(false)
    )

</div>

<div id="dvdaysPlayed" class="visible">
    @(Html.DevExtreme().Chart()
                .ID("daysPlayedChart")
                .Palette(VizPalette.Violet)
                .CommonSeriesSettings(s => s
                .ArgumentField("MonthShortName")
                .ValueField("GamingVisits")
                .Type(SeriesType.Line)
                )
                .SeriesTemplate(t => t
                .NameField("Year")


                )
                .Title(t => t
                .Text("Days Played")
                )
                .Export(e => e.Enabled(true).FileName(string.Format("Month End Slot Marketing Analysis Days Played Chart For_{0} TO {1}", rse.Begin, rse.End)))
                .Legend(l => l
                .VerticalAlignment(VerticalEdge.Bottom)
                .HorizontalAlignment(HorizontalAlignment.Center)
                )
                .DataSource(data.ReportMains.ToList())
    )


    @(Html.DevExtreme().PivotGrid<ReportMain>()
                .ID("daysPlayedGrid")
                .DataFieldArea(PivotGridDataFieldArea.Column)
                .RowHeaderLayout(PivotGridRowHeadersLayout.Tree)
                .WordWrapEnabled(false)
                .ShowBorders(true)
                .AllowExpandAll(false)
                .Export(e => e.Enabled(true).FileName(string.Format("Month End Slot Marketing Analysis Days Played Detail For_{0} TO {1}", rse.Begin, rse.End)))
                .Height(385)
                .DataSource(d => d
                .Store(s => s.Array().Data(data.ReportMains.ToList()))

                .Fields(fields =>
                {




                    fields.AddFor(m => m.Year)
        .Expanded(true)
        .Area(PivotGridArea.Row).Caption("Year");

                    fields.AddFor(m => m.MonthShortName)
        .Area(PivotGridArea.Column);


                    fields.AddFor(m => m.GamingVisits)
        .Caption("Gaming Visits")
        .SummaryType(SummaryType.Sum)
        .Format("($#,##0)")
        .Area(PivotGridArea.Data);


                })
                )
                .FieldChooser(c => c.Enabled(false)).ShowColumnGrandTotals(false)
    )
</div>

<div id="dvtheoWin" class="visible">
    @(Html.DevExtreme().Chart()
                .ID("theoWinChart")
                .Palette(VizPalette.Violet)
                .CommonSeriesSettings(s => s
                .ArgumentField("MonthShortName")
                .ValueField("TheoWin")
                .Type(SeriesType.Line)
                )
                .SeriesTemplate(t => t
                .NameField("Year")


                )
                .Title(t => t
                .Text("Theo Win")
                )
                .Export(e => e.Enabled(true).FileName(string.Format("Month End Slot Marketing Analysis Theo Win Chart For_{0} TO {1}", rse.Begin, rse.End)))
                .Legend(l => l
                .VerticalAlignment(VerticalEdge.Bottom)
                .HorizontalAlignment(HorizontalAlignment.Center)
                )
                .DataSource(data.ReportMains.ToList())
    )


    @(Html.DevExtreme().PivotGrid<ReportMain>()
                .ID("theoWinGrid")
                .DataFieldArea(PivotGridDataFieldArea.Column)
                .RowHeaderLayout(PivotGridRowHeadersLayout.Tree)
                .WordWrapEnabled(false)
                .ShowBorders(true)
                .AllowExpandAll(false)
                .Export(e => e.Enabled(true).FileName(string.Format("Month End Slot Marketing Analysis Theo Win Detail For_{0} TO {1}", rse.Begin, rse.End)))
                .Height(385)
                .DataSource(d => d
                .Store(s => s.Array().Data(data.ReportMains.ToList()))

                .Fields(fields =>
                {




                    fields.AddFor(m => m.Year)
        .Expanded(true)
        .Area(PivotGridArea.Row).Caption("Year");

                    fields.AddFor(m => m.MonthShortName)
        .Area(PivotGridArea.Column);


                    fields.AddFor(m => m.TheoWin)
        .Caption("Theo Win")
        .SummaryType(SummaryType.Sum)
        .Format(Format.Currency)
        .Area(PivotGridArea.Data);


                })
                )
                .FieldChooser(c => c.Enabled(false)).ShowColumnGrandTotals(false)
    )
</div>

<div id="dvfreePlayUtilized" class="visible">
    @(Html.DevExtreme().Chart()
                .ID("freePlayUtilizedChart")
                .Palette(VizPalette.Violet)
                .CommonSeriesSettings(s => s
                .ArgumentField("MonthShortName")
                .ValueField("FreePlayDollarsDownloaded")
                .Type(SeriesType.Line)
                )
                .SeriesTemplate(t => t
                .NameField("Year")


                )
                .Title(t => t
                .Text("Free Play Utilized")
                )
                .Export(e => e.Enabled(true).FileName(string.Format("Month End Slot Marketing Analysis Free Play Utilized Chart For_{0} TO {1}", rse.Begin, rse.End)))
                .Legend(l => l
                .VerticalAlignment(VerticalEdge.Bottom)
                .HorizontalAlignment(HorizontalAlignment.Center)
                )
                .DataSource(data.ReportMains.ToList())
    )


    @(Html.DevExtreme().PivotGrid<ReportMain>()
                .ID("freePlayUtilizedGrid")
                .DataFieldArea(PivotGridDataFieldArea.Column)
                .RowHeaderLayout(PivotGridRowHeadersLayout.Tree)
                .WordWrapEnabled(false)
                .ShowBorders(true)
                .AllowExpandAll(false)
                .Export(e => e.Enabled(true).FileName(string.Format("Month End Slot Marketing Analysis Free Play Utilized Detail For_{0} TO {1}", rse.Begin, rse.End)))
                .Height(385)
                .DataSource(d => d
                .Store(s => s.Array().Data(data.ReportMains.ToList()))

                .Fields(fields =>
                {




                    fields.AddFor(m => m.Year)
        .Expanded(true)
        .Area(PivotGridArea.Row).Caption("Year");

                    fields.AddFor(m => m.MonthShortName)
        .Area(PivotGridArea.Column);


                    fields.AddFor(m => m.FreePlayDollarsDownloaded)
        .Caption("Free Play Utilized")
        .SummaryType(SummaryType.Sum)
        .Format(Format.Currency)
        .Area(PivotGridArea.Data);


                })
                )
                .FieldChooser(c => c.Enabled(false)).ShowColumnGrandTotals(false)
    )
</div>

<div id="dvtheoNetOfFreePlay" class="visible">
    @(Html.DevExtreme().Chart()
                .ID("theoNetOfFreePlayChart")
                .Palette(VizPalette.Violet)
                .CommonSeriesSettings(s => s
                .ArgumentField("MonthShortName")
                .ValueField("TheoNetFP")
                .Type(SeriesType.Line)
                )
                .SeriesTemplate(t => t
                .NameField("Year")


                )
                .Title(t => t
                .Text("Theo Net Of Free Play")
                )
                .Export(e => e.Enabled(true).FileName(string.Format("Month End Slot Marketing Analysis Theo Net Of Free Play Chart For_{0} TO {1}", rse.Begin, rse.End)))
                .Legend(l => l
                .VerticalAlignment(VerticalEdge.Bottom)
                .HorizontalAlignment(HorizontalAlignment.Center)
                )
                .DataSource(data.ReportMains.ToList())
    )


    @(Html.DevExtreme().PivotGrid<ReportMain>()
                .ID("theoNetOfFreePlayGrid")
                .DataFieldArea(PivotGridDataFieldArea.Column)
                .RowHeaderLayout(PivotGridRowHeadersLayout.Tree)
                .WordWrapEnabled(false)
                .ShowBorders(true)
                .AllowExpandAll(false)
                .Export(e => e.Enabled(true).FileName(string.Format("Month End Slot Marketing Analysis Theo Net Of Free Play Detail For_{0} TO {1}", rse.Begin, rse.End)))
                .Height(385)
                .DataSource(d => d
                .Store(s => s.Array().Data(data.ReportMains.ToList()))

                .Fields(fields =>
                {




                    fields.AddFor(m => m.Year)
        .Expanded(true)
        .Area(PivotGridArea.Row).Caption("Year");

                    fields.AddFor(m => m.MonthShortName)
        .Area(PivotGridArea.Column);


                    fields.AddFor(m => m.TheoNetFP)
        .Caption("Theo Net Of Free Play")
        .SummaryType(SummaryType.Sum)
        .Format(Format.Currency)
        .Area(PivotGridArea.Data);


                })
                )
                .FieldChooser(c => c.Enabled(false)).ShowColumnGrandTotals(false)
    )
</div>

<div id="dvcardedCoinIn" class="visible">
    @(Html.DevExtreme().Chart()
                .ID("cardedCoinInChart")
                .Palette(VizPalette.Violet)
                .CommonSeriesSettings(s => s
                .ArgumentField("MonthShortName")
                .ValueField("CashIn")
                .Type(SeriesType.Line)
                )
                .SeriesTemplate(t => t
                .NameField("Year")


                )
                .Title(t => t
                .Text("Carded Coin In")
                )
                .Export(e => e.Enabled(true).FileName(string.Format("Month End Slot Marketing Analysis Carded Coin In Chart For_{0} TO {1}", rse.Begin, rse.End)))
                .Legend(l => l
                .VerticalAlignment(VerticalEdge.Bottom)
                .HorizontalAlignment(HorizontalAlignment.Center)
                )
                .DataSource(data.ReportMains.ToList())
    )


    @(Html.DevExtreme().PivotGrid<ReportMain>()
                .ID("cardedCoinInGrid")
                .DataFieldArea(PivotGridDataFieldArea.Column)
                .RowHeaderLayout(PivotGridRowHeadersLayout.Tree)
                .WordWrapEnabled(false)
                .ShowBorders(true)
                .AllowExpandAll(false)
                .Export(e => e.Enabled(true).FileName(string.Format("Month End Slot Marketing Analysis Carded Coin In Detail For_{0} TO {1}", rse.Begin, rse.End)))
                .Height(385)
                .DataSource(d => d
                .Store(s => s.Array().Data(data.ReportMains.ToList()))

                .Fields(fields =>
                {




                    fields.AddFor(m => m.Year)
        .Expanded(true)
        .Area(PivotGridArea.Row).Caption("Year");

                    fields.AddFor(m => m.MonthShortName)
        .Area(PivotGridArea.Column);


                    fields.AddFor(m => m.CashIn)
        .Caption("Carded Coin In")
        .SummaryType(SummaryType.Sum)
        .Format(Format.Currency)
        .Area(PivotGridArea.Data);


                })
                )
                .FieldChooser(c => c.Enabled(false)).ShowColumnGrandTotals(false)
    )
</div>

<div id="dvcoinIn" class="visible">
    @(Html.DevExtreme().Chart()
                .ID("coinInChart")
                .Palette(VizPalette.Violet)
                .CommonSeriesSettings(s => s
                .ArgumentField("MonthShortName")
                .ValueField("CoinIn")
                .Type(SeriesType.Line)
                )
                .SeriesTemplate(t => t
                .NameField("Year")


                )
                .Title(t => t
                .Text("Coin In")
                )
                .Export(e => e.Enabled(true).FileName(string.Format("Month End Slot Marketing Analysis Coin In Chart For_{0} TO {1}", rse.Begin, rse.End)))
                .Legend(l => l
                .VerticalAlignment(VerticalEdge.Bottom)
                .HorizontalAlignment(HorizontalAlignment.Center)
                )
                .DataSource(data.ReportTotalCoinIns.ToList())
    )


    @(Html.DevExtreme().PivotGrid<ReportTotalCoinIn>()
                .ID("coinInGrid")
                .DataFieldArea(PivotGridDataFieldArea.Column)
                .RowHeaderLayout(PivotGridRowHeadersLayout.Tree)
                .WordWrapEnabled(false)
                .ShowBorders(true)
                .AllowExpandAll(false)
                .Export(e => e.Enabled(true).FileName(string.Format("Month End Slot Marketing Analysis Coin In Detail For_{0} TO {1}", rse.Begin, rse.End)))
                .Height(385)
                .DataSource(d => d
                .Store(s => s.Array().Data(data.ReportTotalCoinIns.ToList()))

                .Fields(fields =>
                {




                    fields.AddFor(m => m.Year)
        .Expanded(true)
        .Area(PivotGridArea.Row).Caption("Year");

                    fields.AddFor(m => m.MonthShortName)
        .Area(PivotGridArea.Column);


                    fields.AddFor(m => m.CoinIn)
        .Caption("Coin In")
        .SummaryType(SummaryType.Sum)
        .Format(Format.Currency)
        .Area(PivotGridArea.Data);


                })
                )
                .FieldChooser(c => c.Enabled(false)).ShowColumnGrandTotals(false)
    )
</div>

<div id="dvaverageDays" class="visible">
    @(Html.DevExtreme().Chart()
                .ID("averageDaysChart")
                .Palette(VizPalette.Violet)
                .CommonSeriesSettings(s => s
                .ArgumentField("MonthShortName")
                .ValueField("AvgDays")
                .Type(SeriesType.Line)
                )
                .SeriesTemplate(t => t
                .NameField("Year")


                )
                .Title(t => t
                .Text("Average Days")
                )
                .Export(e => e.Enabled(true).FileName(string.Format("Month End Slot Marketing Analysis Average Days Chart For_{0} TO {1}", rse.Begin, rse.End)))
                .Legend(l => l
                .VerticalAlignment(VerticalEdge.Bottom)
                .HorizontalAlignment(HorizontalAlignment.Center)
                )
                .DataSource(data.ReportMains.ToList())
    )


    @(Html.DevExtreme().PivotGrid<ReportMain>()
                .ID("averageDaysGrid")
                .DataFieldArea(PivotGridDataFieldArea.Column)
                .RowHeaderLayout(PivotGridRowHeadersLayout.Tree)
                .WordWrapEnabled(false)
                .ShowBorders(true)
                .AllowExpandAll(false)
                .Export(e => e.Enabled(true).FileName(string.Format("Month End Slot Marketing Analysis Average Days Detail For_{0} TO {1}", rse.Begin, rse.End)))
                .Height(385)
                .DataSource(d => d
                .Store(s => s.Array().Data(data.ReportMains.ToList()))

                .Fields(fields =>
                {




                    fields.AddFor(m => m.Year)
        .Expanded(true)
        .Area(PivotGridArea.Row).Caption("Year");

                    fields.AddFor(m => m.MonthShortName)
        .Area(PivotGridArea.Column);


                    fields.AddFor(m => m.AvgDays)
        .Caption("Average Days")
        .SummaryType(SummaryType.Sum)
        .Format(Format.Percent)
        .Area(PivotGridArea.Data);


                })
                )
                .FieldChooser(c => c.Enabled(false)).ShowColumnGrandTotals(false)
    )
</div>

<div id="dvADT" class="visible">
    @(Html.DevExtreme().Chart()
                .ID("ADTChart")
                .Palette(VizPalette.Violet)
                .CommonSeriesSettings(s => s
                .ArgumentField("MonthShortName")
                .ValueField("AverageDailyTheoWin")
                .Type(SeriesType.Line)
                )
                .SeriesTemplate(t => t
                .NameField("Year")


                )
                .Title(t => t
                .Text("ADT")
                )
                .Export(e => e.Enabled(true).FileName(string.Format("Month End Slot Marketing Analysis ADT Chart For_{0} TO {1}", rse.Begin, rse.End)))
                .Legend(l => l
                .VerticalAlignment(VerticalEdge.Bottom)
                .HorizontalAlignment(HorizontalAlignment.Center)
                )
                .DataSource(data.ReportMains.ToList())
    )


    @(Html.DevExtreme().PivotGrid<ReportMain>()
                .ID("ADTGrid")
                .DataFieldArea(PivotGridDataFieldArea.Column)
                .RowHeaderLayout(PivotGridRowHeadersLayout.Tree)
                .WordWrapEnabled(false)
                .ShowBorders(true)
                .AllowExpandAll(false)
                .Export(e => e.Enabled(true).FileName(string.Format("Month End Slot Marketing Analysis ADT Detail For_{0} TO {1}", rse.Begin, rse.End)))
                .Height(385)
                .DataSource(d => d
                .Store(s => s.Array().Data(data.ReportMains.ToList()))

                .Fields(fields =>
                {




                    fields.AddFor(m => m.Year)
        .Expanded(true)
        .Area(PivotGridArea.Row).Caption("Year");

                    fields.AddFor(m => m.MonthShortName)
        .Area(PivotGridArea.Column);


                    fields.AddFor(m => m.AverageDailyTheoWin)
        .Caption("ADT")
        .SummaryType(SummaryType.Sum)
        .Format(Format.Currency)
        .Area(PivotGridArea.Data);


                })
                )
                .FieldChooser(c => c.Enabled(false)).ShowColumnGrandTotals(false)
    )
</div>

<div id="dvfreePlayPerOfTheo" class="visible">
    @(Html.DevExtreme().Chart()
                .ID("freePlayPerOfTheoChart")
                .Palette(VizPalette.Violet)
                .CommonSeriesSettings(s => s
                .ArgumentField("MonthShortName")
                .ValueField("FPPctofTheo")
                .Type(SeriesType.Line)
                )
                .SeriesTemplate(t => t
                .NameField("Year")


                )
                .Title(t => t
                .Text("Free Play % Of Theo")
                )
                .Export(e => e.Enabled(true).FileName(string.Format("Month End Slot Marketing Analysis Free Play Percent Of Theo Chart For_{0} TO {1}", rse.Begin, rse.End)))
                .Legend(l => l
                .VerticalAlignment(VerticalEdge.Bottom)
                .HorizontalAlignment(HorizontalAlignment.Center)
                )
                .DataSource(data.ReportMains.ToList())
    )


    @(Html.DevExtreme().PivotGrid<ReportMain>()
                .ID("freePlayPerOfTheoGrid")
                .DataFieldArea(PivotGridDataFieldArea.Column)
                .RowHeaderLayout(PivotGridRowHeadersLayout.Tree)
                .WordWrapEnabled(false)
                .ShowBorders(true)
                .AllowExpandAll(false)
                .Export(e => e.Enabled(true).FileName(string.Format("Month End Slot Marketing Analysis Free Play Percent Of Theo Detail For_{0} TO {1}", rse.Begin, rse.End)))
                .Height(385)
                .DataSource(d => d
                .Store(s => s.Array().Data(data.ReportMains.ToList()))

                .Fields(fields =>
                {




                    fields.AddFor(m => m.Year)
        .Expanded(true)
        .Area(PivotGridArea.Row).Caption("Year");

                    fields.AddFor(m => m.MonthShortName)
        .Area(PivotGridArea.Column);


                    fields.AddFor(m => m.FPPctofTheo)
        .Caption("Free Play % Of Theo")
        .SummaryType(SummaryType.Sum)
        .Format(Format.Percent)
        .Area(PivotGridArea.Data);


                })
                )
                .FieldChooser(c => c.Enabled(false)).ShowColumnGrandTotals(false)
    )
</div>

<div id="dvnewSignups" class="visible">
    @(Html.DevExtreme().Chart()
                .ID("newSignupsChart")
                .Palette(VizPalette.Violet)
                .CommonSeriesSettings(s => s
                .ArgumentField("MonthShortName")
                .ValueField("NewSignups")
                .Type(SeriesType.Line)
                )
                .SeriesTemplate(t => t
                .NameField("Year")


                )
                .Title(t => t
                .Text("New Signups")
                )
                .Export(e => e.Enabled(true).FileName(string.Format("Month End Slot Marketing Analysis New Signups Chart For_{0} TO {1}", rse.Begin, rse.End)))
                .Legend(l => l
                .VerticalAlignment(VerticalEdge.Bottom)
                .HorizontalAlignment(HorizontalAlignment.Center)
                )
                .DataSource(data.ReportMains.ToList())
    )


    @(Html.DevExtreme().PivotGrid<ReportMain>()
                .ID("newSignupsGrid")
                .DataFieldArea(PivotGridDataFieldArea.Column)
                .RowHeaderLayout(PivotGridRowHeadersLayout.Tree)
                .WordWrapEnabled(false)
                .ShowBorders(true)
                .AllowExpandAll(false)
                .Export(e => e.Enabled(true).FileName(string.Format("Month End Slot Marketing Analysis New Signups Detail For_{0} TO {1}", rse.Begin, rse.End)))
                .Height(385)
                .DataSource(d => d
                .Store(s => s.Array().Data(data.ReportMains.ToList()))

                .Fields(fields =>
                {




                    fields.AddFor(m => m.Year)
        .Expanded(true)
        .Area(PivotGridArea.Row).Caption("Year");

                    fields.AddFor(m => m.MonthShortName)
        .Area(PivotGridArea.Column);


                    fields.AddFor(m => m.NewSignups)
        .Caption("New Signups")
        .SummaryType(SummaryType.Sum)
        .Format("(#,##0)")
        .Area(PivotGridArea.Data);


                })
                )
                .FieldChooser(c => c.Enabled(false)).ShowColumnGrandTotals(false).ShowRowGrandTotals(true).ShowRowTotals(true)



    )

    @(Html.DevExtreme().PivotGrid<ReportFiscalNewSignups>
                ()
                .ID("newSignupsbyFiscalMonthGrid")
                .DataFieldArea(PivotGridDataFieldArea.Column)
                .RowHeaderLayout(PivotGridRowHeadersLayout.Tree)
                .WordWrapEnabled(false)
                .ShowBorders(true)
                .AllowExpandAll(false)
                .Export(e => e.Enabled(true).FileName(string.Format("Month End Slot Marketing Analysis New Signups by Fiscal Month Detail For_{0} TO {1}", rse.Begin, rse.End)))
                .Height(385)
                .DataSource(d => d
                .Store(s => s.Array().Data(data.ReportFiscalNewSignups.ToList()))

                .Fields(fields =>
                {
                    fields.AddFor(m => m.FiscalYear)
        .Expanded(true)
        .Area(PivotGridArea.Row).Caption("Year");

                    fields.AddFor(m => m.MonthName)
        .Area(PivotGridArea.Column);


                    fields.AddFor(m => m.NewSignups)
        .SummaryType(SummaryType.Sum).Caption("#")
        .Format("(#,##0)")
        .Area(PivotGridArea.Data);


                    fields.AddFor(m => m.YOYPercentSignups)
        .SummaryType(SummaryType.Sum).Caption("%")
        .Format(Format.Percent)
        .Area(PivotGridArea.Data);





                })
                )
                .FieldChooser(c => c.Enabled(false)).ShowColumnGrandTotals(true).ShowRowGrandTotals(true))

</div>

<script>
    var reportList = ['dvplayers', 'dvdaysPlayed', 'dvtheoWin', 'dvfreePlayUtilized', 'dvtheoNetOfFreePlay', 'dvcardedCoinIn', 'dvcoinIn', 'dvaverageDays', 'dvADT', 'dvfreePlayPerOfTheo', 'dvnewSignups']
    var positon = 0;
    var next = function () {
        if (positon < reportList.length - 1) {

            $('#' + reportList[positon]).toggleClass("hidden").toggleClass("visible");
            positon++;
            $('#' + reportList[positon]).toggleClass("hidden").toggleClass("visible");

            $('#' + reportList[positon].replace('dv', '') + 'Chart').dxChart("instance").option("commonSeriesSettings.type", "line");
            $('#' + reportList[positon].replace('dv', '') + 'Grid').dxPivotGrid("instance").option("rowHeaderLayout", "standard");
            $('#spCount').html((positon + 1) + '/11');
            if (positon == 10) {
                $('#newSignupsbyFiscalMonthGrid').dxPivotGrid("instance").option("rowHeaderLayout", "standard");
            }

        }
    }
    var prev = function () {
        if (positon > 0) {

            $('#' + reportList[positon]).toggleClass("hidden").toggleClass("visible");
            positon--;
            $('#' + reportList[positon]).toggleClass("hidden").toggleClass("visible");
            $('#' + reportList[positon].replace('dv', '') + 'Chart').dxChart("instance").option("commonSeriesSettings.type", "line");
            $('#' + reportList[positon].replace('dv', '') + 'Grid').dxPivotGrid("instance").option("rowHeaderLayout", "standard");
            if (positon == 10) {
                $('#newSignupsbyFiscalMonthGrid').dxPivotGrid("instance").option("rowHeaderLayout", "standard");
            }
            $('#spCount').html((positon + 1) + '/11');
        }
    }

    $(document).ready(function () {
        $('.visible').toggleClass("hidden").toggleClass("visible");
        $('#dvplayers').toggleClass("hidden").toggleClass("visible");
        $('#loading').hide();
    });
</script>



