﻿@using DevExtreme.AspNet.Mvc
@using SpotlightCoin.Model.Domain

@model PatronCardedRevenueTrends

@{
    Layout = null;
    var data = ViewData["Data"] as IEnumerable<PatronCardedRevenueTrends>;
    var ReportType = ViewData["ReportType"] as int?;
    ReportSearchEntity rse = (ReportSearchEntity)ViewBag.searchParameter;
    string fileName = string.Format("Patron Carded Revenue Trends_ End Date {0:ddMMMyyyy} For {1} Win", rse.EndDate, rse.ReportType == 0 ? "Theo" : "Actual");
}

@(
                                                Html.DevExtreme().DataGrid<PatronCardedRevenueTrends>
                    ()
                    .DataSource(data)
                    .HeaderFilter(f => f.Visible(true))
                    .GroupPanel(p => p.Visible(false))
                    .Export(e => e.Enabled(true).FileName(fileName))
                    .ShowBorders(true)
                    .ColumnAutoWidth(true)

                    .Columns(columns =>
                    {

                        columns.Add()
                            .Caption((ReportType == 1 ? "Total Theo Win" : "Total Actual Win")).CssClass("customHeader")
                            .Columns(a =>
                            {
                                a.AddFor(m => m.MMMYYYY).Caption("Current Month");
                                a.AddFor(m => m.CYTheo).Caption("Theo Win").Visible(ReportType == 1 ? true : false);
                                a.AddFor(m => m.CYWin).Caption("Actual Win").Visible(ReportType == 2 ? true : false);
                                a.AddFor(m => m.LYMMMYYYY).Caption("Prior Month");
                                a.AddFor(m => m.LYTheo).Caption("Prior Theo").Visible(ReportType == 1 ? true : false);
                                a.AddFor(m => m.LYWin).Caption("Prior Win").Visible(ReportType == 2 ? true : false);
                                a.AddFor(m => m.GrowthTheo).Caption("Growth %").Visible(ReportType == 1 ? true : false);
                                a.AddFor(m => m.GrowthWin).Caption("Growth %").Visible(ReportType == 2 ? true : false);
                            });



                        columns.AddFor(m => m.Blank).Caption(string.Empty).Width(100).CssClass("blankHeader").AllowFiltering(false);



                        columns.Add()
                        .Caption((ReportType == 1 ? "Average Daily Theo (ADT) per Patron" : "Average Daily Actual (ADA) per Patron")).CssClass("customHeader")
                        .Columns(a =>
                        {
                            a.AddFor(m => m.ADT).Visible(ReportType == 1 ? true : false);
                            a.AddFor(m => m.ADA).Visible(ReportType == 2 ? true : false);
                            a.AddFor(m => m.PriorADT).Visible(ReportType == 1 ? true : false);
                            a.AddFor(m => m.PriorADA).Visible(ReportType == 2 ? true : false);
                            a.AddFor(m => m.GrowthADT).Caption("Growth %").Visible(ReportType == 1 ? true : false);
                            a.AddFor(m => m.GrowthADA).Caption("Growth %").Visible(ReportType == 2 ? true : false);
                        });


                    })

)



<style type="text/css">
    .dx-toolbar-center {
        width: 36%;
        text-align: center;
        float: right !important;
    }

    .dx-toolbar-before {
        width: 47%;
    }
</style>
<script type="text/javascript">
    $(document).ready(function () {
        $('#loading').hide();
    });
</script>