﻿@using DevExtreme.AspNet.Mvc
@using SpotlightCoin.Model.Domain

@model TopTwentyWinnersandLosers

@{
    Layout = null;
    var data = ViewData["Data"] as IEnumerable<TopTwentyWinnersandLosers>;
    var ReportType = ViewData["ReportType"] as int?;
    ReportSearchEntity rse = (ReportSearchEntity)ViewBag.searchParameter;
}

@(
                                                    Html.DevExtreme().DataGrid<TopTwentyWinnersandLosers>
                            ()
                            .DataSource(data)
                            .HeaderFilter(f => f.Visible(false).AllowSearch(false))
                            .GroupPanel(p => p.Visible(false))
                            .Export(e => e.Enabled(true).FileName("TopTwentyWinnersandLosers"))
                            .Height(500)
                            .ShowBorders(true).AllowColumnReordering(false).Sorting(sorting => sorting.Mode(GridSortingMode.None))
                            .Columns(columns =>
                            {
                                columns.Add()
                                .Caption("Winner (Lowest Actual Win)").CssClass("customHeader")
                                .Columns(a =>
                                {

                                    a.Add().Caption("Actual Win").CssClass("customHeader").Columns(b =>
                                    {
                                        b.AddFor(m => m.PlayerID);
                                        b.AddFor(m => m.FName).Caption("First Name");
                                        b.AddFor(m => m.LName).Caption("Last Name");
                                    });

                                    a.Add().Caption("Activity Type").CssClass("customHeaderCenter").Columns(b =>
                                    {
                                        if (ReportType == 1)
                                        {

                                            b.AddFor(m => m.SlotWin).Format(Format.Currency);

                                            b.AddFor(m => m.TableWin);

                                        }
                                        else
                                             if (ReportType == 2)
                                        {

                                            b.AddFor(m => m.SlotWin).Format(Format.Currency);


                                        }
                                        else
                                        {

                                            b.AddFor(m => m.TableWin);


                                        }
                                    });
                                });
                                columns.AddFor(m => m.Blank).Caption(string.Empty).Width(100).CssClass("blankHeader");
                                columns.Add()
                                .Caption("Losers (Top Actual Win)").CssClass("customHeader")
                                .Columns(a =>
                                {
                                    a.Add().Caption("Actual Win").CssClass("customHeader").Columns(b =>
                                    {

                                        b.AddFor(m => m.PlayerID1).Caption("Player Id");
                                        b.AddFor(m => m.FName1).Caption("First Name");
                                        b.AddFor(m => m.LName1).Caption("Last Name");
                                    });

                                    a.Add().Caption("Activity Type").CssClass("customHeaderCenter").Columns(b =>
                                    {
                                        if (ReportType == 1)
                                        {
                                            b.AddFor(m => m.SlotWin1).Format(Format.Currency).Caption("Slot Win");
                                            b.AddFor(m => m.TableWin1).Caption("Table Win");
                                        }
                                        else
                                            if (ReportType == 2)
                                        {
                                            b.AddFor(m => m.SlotWin1).Format(Format.Currency).Caption("Slot Win");
                                        }
                                        else
                                        {

                                            b.AddFor(m => m.TableWin1).Caption("Table Win");
                                        }
                                    });



                                });


                            })
)

<style type="text/css">
    .dx-toolbar-center {
        width: 36%;
        text-align: center;
        float: right !important;
    }

    .dx-toolbar-before {
        width: 47%;
    }
</style>
<script type="text/javascript">
    $(document).ready(function () {
        $('#loading').hide();
    });
</script>