﻿@using DevExtreme.AspNet.Mvc
@using SpotlightCoin.Model.Domain

@model TableswithPlaybyDay

@{
    Layout = null;
    var data = ViewData["Data"] as IEnumerable<TableswithPlaybyDay>;
    ReportSearchEntity rse = (ReportSearchEntity)ViewBag.searchParameter;
}

@(
                        Html.DevExtreme().DataGrid<TableswithPlaybyDay>()
                                .DataSource(data)
                                .HeaderFilter(f => f.Visible(true))
                                .GroupPanel(p => p.Visible(true))
                                .Export(e => e.Enabled(true).FileName("TableswithPlaybyDay"))
                                .Height(500)
                                .ShowBorders(true)
                                .Columns(columns =>
                                {
                                    columns.AddFor(m => m.AuditDate).Caption("Dates").Width(300).AllowSorting(false);

                                    columns.AddFor(m => m.TablesWithPlay).Width(200);


                                })
)
<script type="text/javascript">
    $(document).ready(function () {
        $('#loading').hide();
    });
</script>