﻿@using DevExtreme.AspNet.Mvc
@using SpotlightCoin.Model.Domain

@model PatronListingMain

@{
    Layout = null;
    var data = ViewData["Data"] as IEnumerable<PatronListingMain>;
    ReportSearchEntity rse = (ReportSearchEntity)ViewBag.searchParameter;
}

@(
                    Html.DevExtreme().DataGrid<PatronListingMain>()
                            .DataSource(data)
                            .HeaderFilter(f => f.Visible(true))
                            .GroupPanel(p => p.Visible(true))
                            .Export(e => e.Enabled(true).FileName("PatronListingMain"))
                            //.Height(500)
                            .ShowBorders(true)
                            .ColumnAutoWidth(true)
                            .Columns(columns =>
                            {
                                columns.AddFor(m => m.PlayerID);
                                columns.AddFor(m => m.LastName);
                                columns.AddFor(m => m.FirstName);
                                columns.AddFor(m => m.HostName);
                                columns.AddFor(m => m.Referral);
                                columns.AddFor(m => m.ClubLevel).Caption("Tier");
                                columns.AddFor(m => m.Rank);
                                columns.AddFor(m => m.SystemRank);
                                columns.AddFor(m => m.ManualRank);
                                columns.AddFor(m => m.Address);
                                columns.AddFor(m => m.City);
                                columns.AddFor(m => m.State);
                                columns.AddFor(m => m.Zip);
                                columns.AddFor(m => m.MailFlag);
                                columns.AddFor(m => m.Phone);
                                columns.AddFor(m => m.Email);
                                columns.AddFor(m => m.Birthday);
                                columns.AddFor(m => m.BirthMonth);
                                columns.AddFor(m => m.LastPlayDate);
                                columns.AddFor(m => m.Anniversary);
                                columns.AddFor(m => m.PointsEarned);
                                columns.AddFor(m => m.Trips);
                                columns.AddFor(m => m.Theo);
                                columns.AddFor(m => m.ADT);
                            })
)

<script type="text/javascript">
    $(document).ready(function () {
        $('#loading').hide();
    });
</script>