﻿@using DevExtreme.AspNet.Mvc
@using SpotlightCoin.Model.Domain


@{
    Layout = null;
    var data = ViewData["Data"] as IEnumerable<DailyRevenueReport>;
    ReportSearchEntity rse = (ReportSearchEntity)ViewBag.searchParameter;
    string fileName = string.Format("Daily Revenue Report_{0:ddMMMyyyy} TO {1:ddMMMyyyy}", rse.StartDate, rse.EndDate);

}


@(Html.DevExtreme().PivotGrid<DailyRevenueReport>
    ()
    .ID("pivotgrid")
    .RowHeaderLayout(PivotGridRowHeadersLayout.Standard)
    .WordWrapEnabled(false).AllowSorting(true)
    .ShowBorders(true)
    .AllowExpandAll(true)
    .Export(e => e.Enabled(true).FileName(fileName))
    .Height(600)
    .DataSource(d => d
    .Store(s => s.Array().Data(data))

    .Fields(fields =>
    {

        fields.AddFor(m => m.Dates).Expanded(true).AllowSorting(true).Area(PivotGridArea.Row).Caption(" ");
        fields.AddFor(m => m.DateToDiplay).Expanded(true).AllowSorting(true).Area(PivotGridArea.Row).Caption("Date").SortBy(PivotGridSortBy.Value);
        fields.AddFor(m => m.OutletName).Expanded(true).AllowSorting(true).Area(PivotGridArea.Row).Caption("Outlet Id");



        fields.AddFor(m => m.TotalRevvenue).AllowSorting(true)
.Caption("Total Revenue")
.SummaryType(SummaryType.Sum)
.Format(Format.Currency)
.Area(PivotGridArea.Data);

        fields.AddFor(m => m.AllCovers).AllowSorting(true)
.Caption("Covers")
.SummaryType(SummaryType.Sum)
.Format(Format.Currency)
.Area(PivotGridArea.Data);


        fields.AddFor(m => m.Checks).AllowSorting(true)
.Caption("Checks")
.SummaryType(SummaryType.Sum)
.Format(Format.Currency)
.Area(PivotGridArea.Data);

    })
    )
    .FieldChooser(c => c.Enabled(false)).ShowColumnGrandTotals(false).FieldPanel(p => p.Visible(true).ShowRowFields(true).ShowFilterFields(false).ShowColumnFields(false).ShowDataFields(false).AllowFieldDragging(false))
)

<script type="text/javascript">
    $(document).ready(function () {
        $('#loading').hide();
    });
</script>