﻿@using DevExtreme.AspNet.Mvc
@using SpotlightCoin.Model.Domain



@{
    Layout = null;
    var data = ViewData["Data"] as IEnumerable<NewAcquisitionbyHostbyMonth>;
    ReportSearchEntity rse = (ReportSearchEntity)ViewBag.searchParameter;
    string fileName = string.Format("New Acquisition by Host by Month_{0:ddMMMyyyy} TO {1:ddMMMyyyy}", rse.StartDate, rse.EndDate);
}

@(
    Html.DevExtreme().DataGrid<NewAcquisitionbyHostbyMonth>()
    .DataSource(data)
    .HeaderFilter(f => f.Visible(true).AllowSearch(true))
    .GroupPanel(p => p.Visible(true))
    .Export(e => e.Enabled(true).FileName(fileName))
    .Height(500)
    .ShowBorders(true)
    .ColumnAutoWidth(true)
    .Columns(columns =>
    {
        columns.AddFor(m => m.CurrentHostName).GroupIndex(0).Caption("Host");
        columns.AddFor(m => m.PlayerID);
        columns.AddFor(m => m.PlayerName).Caption("Full Name");
        columns.AddFor(m => m.StartDate).Caption("Hosted Date").AllowSorting(false);
        columns.AddFor(m => m.LastVisit).AllowSorting(false);
        columns.AddFor(m => m.BHActualWin).Caption("BH Actual");
        columns.AddFor(m => m.AHActualWin).Caption("AH Actual");
        columns.AddFor(m => m.ActualDiff).Caption("Actual Diff");
        columns.AddFor(m => m.BHTheoWin).Caption("BH Theo");
        columns.AddFor(m => m.AHTheoWin).Caption("AH Theo");
        columns.AddFor(m => m.TheoDiff).Caption("Theo Diff");
        columns.AddFor(m => m.BHVisits).Caption("BH Visits");
        columns.AddFor(m => m.AHVisits).Caption("AH Visits");
        columns.AddFor(m => m.VisitsDiff).Caption("Visits Diff");
        columns.AddFor(m => m.BHADT).Caption("BH ADT");
        columns.AddFor(m => m.AHADT).Caption("AH ADT");
        columns.AddFor(m => m.ADTDiff).Caption("ADT Diff");
        columns.AddFor(m => m.LTDActualWin).Caption("LTD Actual");
        columns.AddFor(m => m.LTDTheoWin).Caption("LTD Theo");
        columns.AddFor(m => m.LTDVisits).Caption("LTD Visits");
        columns.AddFor(m => m.LTDADT).Caption("LTD ADT");
    })

    .SortByGroupSummaryInfo(i => i.Add().SummaryItem("count")).Summary(s => s.GroupItems(items =>
    {
        items.AddFor(m => m.PlayerID)
.SummaryType(SummaryType.Count).ShowInGroupFooter(true)
.DisplayFormat("{0}");


        items.AddFor(m => m.BHActualWin)
.SummaryType(SummaryType.Sum)
.ValueFormat(Format.Currency)
.ShowInGroupFooter(true)
.AlignByColumn(false)
.DisplayFormat("{0}");

        items.AddFor(m => m.AHActualWin)
.SummaryType(SummaryType.Sum)
.ValueFormat(Format.Currency)
.ShowInGroupFooter(true)
.AlignByColumn(false)
.DisplayFormat("{0}");

        items.AddFor(m => m.ActualDiff)
.SummaryType(SummaryType.Sum)
.ValueFormat(Format.Currency)
.ShowInGroupFooter(true)
.DisplayFormat("{0}");

        items.AddFor(m => m.BHTheoWin)
.SummaryType(SummaryType.Sum)
.ValueFormat(Format.Currency)
.ShowInGroupFooter(true)
.AlignByColumn(false)
.DisplayFormat("{0}");

        items.AddFor(m => m.AHTheoWin)
.SummaryType(SummaryType.Sum)
.ValueFormat(Format.Currency)
.ShowInGroupFooter(true)
.AlignByColumn(false)
.DisplayFormat("{0}");

        items.AddFor(m => m.TheoDiff)
.SummaryType(SummaryType.Sum)
.ValueFormat(Format.Currency)
.ShowInGroupFooter(true)
.DisplayFormat("{0}");

        items.AddFor(m => m.BHVisits)
.SummaryType(SummaryType.Sum)
.ValueFormat(Format.Currency)
.ShowInGroupFooter(true)
.AlignByColumn(false)
.DisplayFormat("{0}");

        items.AddFor(m => m.AHVisits)
.SummaryType(SummaryType.Sum)
.ValueFormat(Format.Currency)
.ShowInGroupFooter(true)
.AlignByColumn(false)
.DisplayFormat("{0}");

        items.AddFor(m => m.VisitsDiff)
.SummaryType(SummaryType.Sum)
.ValueFormat(Format.Currency)
.ShowInGroupFooter(true)
.DisplayFormat("{0}");

        items.AddFor(m => m.BHADT)
.SummaryType(SummaryType.Sum)
.ValueFormat(Format.Currency)
.ShowInGroupFooter(true)
.AlignByColumn(false)
.DisplayFormat("{0}");

        items.AddFor(m => m.AHADT)
.SummaryType(SummaryType.Sum)
.ValueFormat(Format.Currency)
.ShowInGroupFooter(true)
.AlignByColumn(false)
.DisplayFormat("{0}");

        items.AddFor(m => m.ADTDiff)
.SummaryType(SummaryType.Sum)
.ValueFormat(Format.Currency)
.ShowInGroupFooter(true)
.DisplayFormat("{0}");

        items.AddFor(m => m.LTDActualWin)
.SummaryType(SummaryType.Sum)
.ValueFormat(Format.Currency)
.ShowInGroupFooter(true)
.AlignByColumn(false)
.DisplayFormat("{0}");

        items.AddFor(m => m.LTDTheoWin)
.SummaryType(SummaryType.Sum)
.ValueFormat(Format.Currency)
.ShowInGroupFooter(true)
.AlignByColumn(false)
.DisplayFormat("{0}");

        items.AddFor(m => m.LTDVisits)
.SummaryType(SummaryType.Sum)
.ValueFormat(Format.Currency)
.ShowInGroupFooter(true)
.DisplayFormat("{0}");

        items.AddFor(m => m.LTDADT)
.SummaryType(SummaryType.Sum)
.ValueFormat(Format.Currency)
.ShowInGroupFooter(true)
.DisplayFormat("{0}");
    }))
)



<script type="text/javascript">
        $(document).ready(function () {
            $('#loading').hide();
        });
</script>