﻿@model IEnumerable<SpotlightCoin.Model.Domain.HostedPlayerActivityHost>

<input type="hidden" name="HostId" id="HostId" value="">
<select multiple="multiple">
    @foreach (var item in Model)
    {
        <option value="@item.HostID">@item.HostName</option>
    }

</select>
<script src="~/js/multiple-select.js"></script>
<script>
    var hostData = $('select').multipleSelect();
</script>

