﻿@model IEnumerable<SpotlightCoin.Model.Domain.HostedPlayerActivityHost>


@{


    List<SpotlightCoin.Model.Domain.HostedPlayerActivityHost> Hosts = new List<SpotlightCoin.Model.Domain.HostedPlayerActivityHost> {
new SpotlightCoin.Model.Domain.HostedPlayerActivityHost{

HostID=0, HostName="ALL Host"
}
};
    Hosts.AddRange(Model.ToList<SpotlightCoin.Model.Domain.HostedPlayerActivityHost>());
}



@(Html.DevExtreme().SelectBox().DataSource(Hosts).DisplayExpr("HostName")
                                                                .ValueExpr("HostID").Name("HostId").Value(0))

