﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @*<title>@ViewBag.Title - Spotlight.Reports</title>*@
    <environment>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/lib/devextreme/css/site.css" />

        <link href="@Url.Content("~/css/custom.css")" rel="stylesheet" />
        <!-- Fonts and icons -->
        <link href="@Url.Content("~/css/font-awesome.css")" rel='stylesheet prefetch'>
        <link href="@Url.Content("~/css/material-design-iconic-font.css")" rel='stylesheet prefetch'>
        <link href="@Url.Content("~/css/fonts.css")" rel="stylesheet" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="@Url.Content("~/lib/devextreme/css/site.min.css")" asp-append-version="true" />
        <link rel="stylesheet" href="~/lib/devextreme/css/site.min.css" asp-append-version="true" />
    </environment>

    <environment>


        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>

        <script src="@Url.Content("~/lib/jquery/dist/jquery.js")"></script>
        <script src="@Url.Content("~/lib/devextreme/jszip.min.js")"></script>
        <script src="@Url.Content("~/lib/devextreme/dx.all.js")"></script>
        <script src="@Url.Content("~/lib/bootstrap/dist/js/bootstrap.js")"></script>
        <script src="@Url.Content("~/lib/devextreme/aspnet/dx.aspnet.mvc.js")"></script>
        <script src="@Url.Content("~/lib/devextreme-aspnet-data/js/dx.aspnet.data.js")"></script>
        <script src="@Url.Content("~/lib/devextreme/globalize.js")"></script>

        <link href="@Url.Content("~/lib/devextreme/css/devextreme/dx.common.css")" rel="stylesheet" />
        <link href="@Url.Content("~/lib/devextreme/css/devextreme/material.blue-light.custom.css")" rel="stylesheet" />
    </environment>

    <script src="~/js/jquery.validate.js"></script>
    <script src="~/js/jquery.unobtrusive-ajax.js"></script>
    <script src="~/js/jquery.validate.unobtrusive.js"></script>
    <script>
        //var baseURL = "System.Configuration.ConfigurationManager.AppSettings[""]"
        var baseURL = "http://data-prod/ICIntelligence-GAMC";
        var menuType = "Report";
    </script>
</head>
<body>

    <!--- header code start -->
    <header>
        <div class="top-head">

            <div class="nav-hamburger">
                <a href="#" class="menu-toggle">
                    <i class="zmdi zmdi-sort-amount-asc"></i>
                </a>
            </div>
            <div class="mid-col">
                <div class="logo">
                    <a href="#">
                        <img src="@Url.Content("~/images/logo.png")" alt="spotlight">
                    </a>
                </div>
            </div>
            <div class="welcome-col">

                <span>@string.Format("{0:ddd dd MMM, hh:mm tt}", DateTime.Now)</span>
                <span>
                    <a href="@Url.Action("Logout", "Account")">Log Out</a>
                </span>
            </div>
        </div>
    </header>
    <!--- header code end -->
    <!--- header code end -->
    <div class="inner-wrapper">
        <!--- nav code start -->
        <nav>
            <div class="side-nav">
                <ul>
                    <li>
                        <a id="sideMenu1" href="@Url.Action("getreportlist", "Report")">
                            <i class="zmdi zmdi-hc-fw"></i>
                        </a>
                    </li>
                    <li>
                        <a id="sideMenu2" href="#" class="active">
                            <i class="zmdi zmdi-hc-fw"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <!--- nav code end -->
        <!--- report code start -->
        <div class="report-col">
            <div class="report-data">


                @RenderBody()

            </div>
        </div>
    </div>
    <div id="loading" class="loadingOverlay"></div>
    <script src="@Url.Content("~/js/main.js")" type="text/javascript"></script>
    <script type="text/javascript">
        var startDate;
        var endDate;
        var startDateOldVal;
        var endDateOldVal;
        var currDate = new Date();
        var isDateChanged = false;
        $(function () {
            startDate = $("#txtStartDate").dxDateBox({
            }).dxDateBox("instance");
            endDate = $("#txtEndDate").dxDateBox({
            }).dxDateBox("instance");
        });

        var onStartDateValueChanged = function (e) {
            endDate.option("min", e.value);
            if (startDateOldVal != e.value) {
                startDateOldVal = e.value;

                if (typeof (bindHost) === "function") {
                    bindHost();
                }
            }
        }
        var onEndDateValueChanged = function (e) {
            startDate.option("max", e.value);
            if (endDateOldVal != e.value) {
                endDateOldVal = e.value;
                if (typeof (bindHost) === "function") {
                    bindHost();
                }
            }
        }

    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>
